@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;

    box-sizing: border-box;
}

body {
    background-color: rgb(198, 198, 221);
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
header {
    padding-top: 20px;
    padding-bottom: 20px;
}
header > p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.rules {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    justify-content: center;
  }

.flex-container > p {
    margin: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 2rem;
    font-weight: bold;
    color:black;
  }


.score-board {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    color: black; 
}


.choises-area {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
}

.choises {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 4rem;
  transition: 100ms;
}

.choises:hover {
    transform: scale(1.2);
}

.winner {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 1rem;
}

#choise {
    font-size: 4rem;
}

#result {
    font-size: 2rem;
    text-align: center;
}

.move{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
 
/* Reload button style */
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
 
.result{
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 612px)
{ 
header {
    padding-top: 10px;
    padding-bottom: 10px;
}
header > p {
    font-size: 1.5rem;
}

.choises {
  font-size: 2.5rem;
}

#choise {
    font-size: 1.8rem;
}

#result {
    font-size: 1rem;
    text-align: center;
}

}